html {
    scroll-behavior: smooth;
    
}

.body {
    background-color: #2e3440;
    color: #d8dee9;
    margin: 0;
    padding: 0;
    font-family: 'Geologica';
    font-style: bold;
}

.main-content{
/*     background-image: url(images/bgindex.jpg);
    background-blend-mode: darken; */
    margin-left: 6em;
    margin-right: 6em;
    font-family: 'Geologica';
    font-style: bold;
    font-size: 18px;
}
.header {
    text-align: center;
    background-color: #8fbcbb;
    color: #2e3440;
    padding: 20px;
}

.title {
    margin-top: 2em;
    font-family: 'Rationale';
    font-style: bold;
}

.navbar {
    background-color: #434c5e;
    padding: 1em;
    font-family: 'Rationale' !important;
    font-size: 20px;
    font-weight: bolder;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav-list li {
    display: inline;
    margin-right: 1em;
}

.nav-link {
    text-decoration: none;
    color: #d8dee9;
}

.main-content {
    padding: 1.5em;
    font-family: 'Ubuntu';
    font-weight: 410;
}

.footer {
    font-family: 'Ubuntu';
    background-color: #4c566a;
    padding: 1em;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-text {
    margin: 0;
    text-align: center;
}

.image-container-homepage {
    text-align: center;
}

.image {
    width: 300px;
    height: 465px;
    border: 4px solid whitesmoke;
    transition: opacity 0.3s ease;

}

.image:hover {
    opacity: 0.8;
}

.movie-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.movie-text{
    font-family: 'Rationale';
    font-size: 32px;
    font-weight: bolder;
    margin-right: 2em;
}

/* .poster-text{
    font-size: smaller;
    text-shadow: 1px 1px 3px black;
}

.poster-text-header{
    font-size: smaller;
    text-shadow: 1px 1px 3px black;
} */


.behind {
    font-size: 92px; 
    text-align: center; 
    margin-bottom: -1em; 
    opacity: 0.15;
}

.second-half{
    background-image: image('images/bgindex.jpg');
    background-size: cover;
}

.content-quote {
    display: flex;
    align-items: center;
    justify-content: center;

}

.sticker-font {
    font-family: 'Courgette';
    font-size: 32px;
}

.navbar {
    background-color: #434c5e !important;
}
.navbar-nav .nav-link {
    color:#d8dee9 !important;
    
}
.nav-link:hover{
    opacity: 0.8;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.carousel-inner{
    max-height: 10%;
}



.modal-dialog {
   position:fixed;
   top:auto;
   right:auto;
   left:auto;
   bottom:0;
   width: 100%;
   overflow-x: hidden;
   overflow-y: auto;
}  

.modal-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    z-index: 1050;
    display: none;
    outline: 0;
    font-family: 'Ubuntu';
  }

.modal-body {
    color: #2e3440;
}
  
.modal-dialog.modal-dialog-scrollable {
    width: 100%;
    max-width: 100%;
    margin: 0;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    font-family: 'Ubuntu';
    font-weight:500;
}

.form-container {
    font-family: 'Ubuntu';
    max-width: 500px;
    margin: auto;
  }
  #successMessage {
    display: none;
  }

  #successMessage:target {
    display: block;
  }


@media screen and (max-width: 768px) {
    .main-content {
        margin-left: 0px; 
        margin-right: 0px;
    }
    .ryan-quote {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1em;
    }

    .content-quote {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .paragraph {
        order: 2;
    }

    .ryan-sticker {
        order: 1;
    }
    .sticker-font {
        font-family: 'Courgette';
        font-size: 24px;
        max-width: 50%;
    }
    .movie-container {
        order: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .movie-text{
        font-size: 28px;
        order: 1;
        margin-right: 0.5em;
    }
    .behind {
        font-size: 120px;
        margin-bottom: -1em;
        margin-left: 0.1em;
    }
}