body {
    background-color: #85AFD4;
    color: white;
    font-family: 'Lato';
}

.title {
    font-weight: bold;
}


.button {
    background-color: #E47272;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

.button:hover {
    background-color: #d45d5d;
}

.link-text {
    font-family: 'Lato';
    font-weight: bold;
}